
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
    --image-height: auto;
    --text-align: center;
    --box-shadow: 0 0 30px gray;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--image-height);
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

main img {
    width: 150px;
    height: var(--image-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: var(--box-shadow);
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1  {
    color: darkblue;
}

img {
    width: 150px;
    height: var(--image-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 10px;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}